<!-- <iframe name="ifram" *ngIf="urlOfMap != ''" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
</iframe>
 <small>
   <a 
    href="https://maps.google.com/maps?q='+data.lat+','+data.lon+'&hl=es;z=14&amp;output=embed"
    style="color:#0000FF;text-align:left" 
    target="ifram"
   >
     See map bigger
   </a>
 </small> -->
<!-- {{url}} -->
<!-- <iframe src="urlOfMap" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
<!-- <agm-map 
   [latitude]='lat' 
   [longitude]='long'
   >
  
    <agm-marker 
        [latitude]="lat" 
        [longitude]="long">    
    </agm-marker>
  
</agm-map> -->